@import url(https://fonts.googleapis.com/css?family=PT+Sans&display=swap);
* {
  margin: 0;
  padding: 0;
}
html {
  overflow: hidden;
}
.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: -1;
}
body {
  background: black;
  overflow: hidden;
}
@media (max-width: 1024px) {
  body {
    overflow-y: auto;
    overflow-x: hidden !important;
  }
}
.main {
  color: white;
  font-family: 'Helvetica';
}
@media (max-width: 1024px) {
  .main {
    font-size: 1em !important;
    overflow: hidden;
  }
}
.main h1,
.main h2 {
  font-family: 'Helvetica';
  font-size: 24px !important;
}
.main h1,
.main h2,
.main h3,
.main h4 {
  color: white;
  margin: 0px;
  font-weight: lighter;
}
@media (max-width: 1024px) {
  .main h1,
  .main h2,
  .main h3,
  .main h4 {
    font-size: 1em !important;
  }
}
.main a,
.main .project {
  color: white;
  text-decoration: underline;
}
.main a:link,
.main .project:link {
  text-decoration: underline;
}
.main a:hover,
.main .project:hover {
  text-decoration: none;
}
.main section {
  width: max-content;
  margin-bottom: 40px;
  font-weight: lighter;
}
@media (min-width: 768px) {
  .main section {
    margin-bottom: 70px;
  }
}
@media (max-height: 768px) {
  .main section {
    margin-bottom: 0px;
  }
}
.main section .box {
  color: white;
  width: max-content;
  padding: 10px;
}
@media (min-width: 768px) {
  .main section .box {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}
.main section .company-link {
  text-decoration: none;
  color: white;
  transition: text-decoration 0.2 ease-in-out;
}
.main section .company-link:hover {
  text-decoration: underline;
  color: white;
}
.main #content {
  position: absolute;
  left: 0px;
  margin: 0px;
  z-index: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  perspective: 100px;
  transform-style: preserve-3d;
}
@media (max-width: 1024px) {
  .main #content {
    height: 30%;
    bottom: 0px;
    position: relative;
  }
}
@media (min-width: 900px) {
  .main #content {
    top: 0px;
  }
}
.main #content #landing {
  margin-top: 8vh;
  height: 100%;
  transform-style: preserve-3d;
  perspective: 1000px;
}
@media (max-width: 1370px) {
  .main #content #landing {
    min-height: 40vh;
  }
}
.main #content #landing .front,
.main #content #landing .behind,
.main #content #landing .hello {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  opacity: 0.333;
  transition: opacity 0.7s ease;
}
.main #content #landing .front {
  top: 13vh;
  right: 50px;
  animation: float 3s infinite ease-in-out;
}
.main #content #landing .front img {
  transform: translateZ(200px);
}
.main #content #landing .hello {
  font-size: 650px;
  color: white;
  transform: translateZ(-20px);
}
.main #content #landing .behind {
  left: 50px;
  bottom: 2vh;
  animation: float2 4s infinite ease-in-out;
  transform: translateZ(-320px);
}
.main #content #landing .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.main #content #landing img {
  vertical-align: middle;
  max-width: 100vw;
}
.main .resume {
  transform: rotate(-90deg);
  position: absolute;
  left: 0px;
  width: 0%;
  font-size: 16px;
}
@media (max-width: 1024px) {
  .main .resume {
    display: none;
  }
}
.main .resume .box {
  position: relative;
  width: 100vh;
  text-align: center;
  padding: 0px;
  right: calc(75vh - 160px);
}
.main .copyright-section {
  transform: rotate(90deg);
  position: absolute;
  right: 62.2%;
  top: 0%;
  width: 0%;
}
@media (max-width: 1024px) {
  .main .copyright-section {
    right: 2em;
    font-size: 0.5em;
    z-index: -1;
    top: 80vh;
  }
}
.main .headings,
.main .link-section {
  font-size: 16px;
  margin-left: 3em;
}
@media (max-width: 1024px) {
  .main .headings,
  .main .link-section {
    margin-left: 0em;
  }
}
.main .headings .name a,
.main .link-section .name a {
  text-decoration: none;
  color: white;
}
.main .headings h1,
.main .link-section h1 {
  margin: 0px;
}
.main .headings h2,
.main .link-section h2 {
  margin: 0px;
}
.main .headings .project,
.main .link-section .project {
  padding: 2px;
  letter-spacing: 0px;
  transition: letter-spacing 2s;
  display: block;
}
.main .headings .project:hover,
.main .link-section .project:hover {
  letter-spacing: 6px;
}
.main .link-section {
  position: absolute;
}
@media (min-width: 900px) {
  .main .link-section {
    bottom: 0px;
  }
}
@media (max-width: 1024px) {
  .main .link-section {
    transform: rotate(90deg);
    right: 2em;
    font-size: 0.5em;
    width: 0%;
    top: 0px;
  }
}
@keyframes float {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes float2 {
  0% {
    transform: translateY(-20px) translateZ(-90px);
  }
  50% {
    transform: translateY(0px) translateZ(-90px);
  }
  100% {
    transform: translateY(-20px) translateZ(-90px);
  }
}


/*# sourceMappingURL=main.css.map*/